@{
    ViewBag.Title = "Inventory";
    ViewBag.InitModule = "app";
}
@section scripts{
    <script src="~/js/app.js"></script>
}
<div class="col-lg-12">
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div data-ng-view=""></div>
        </div>
    </div>
    
</div>


